<br>
<h1 [ngClass]="isGreen? 'title-green':'title-red'">{{title}}</h1>

<h2 *ngIf="publishers.length<1">No Data</h2><br>

<table>
    <thead>
        <tr>
            <th>Name</th>
            <th>Address</th>
            <th>Phone No</th>
            <th>E-mail</th>
            <th>Actions</th>
        </tr>
    </thead>
    <tbody *ngIf="publishers.length>0">
        <tr *ngFor="let publisher of publishers">
            <td>{{publisher.name}}</td>
            <td>{{publisher.address}}</td>
            <td>{{publisher.phone}}</td>
            <td>{{publisher.email}}</td>
            <td>
                <button class="button" id="b"><i class="fa fa-pencil-square-o" aria-hidden="true"></i></button>
                <button class="button" id="b" (click)="deletePublisher(publisher.id)"><i class="fa fa-trash" aria-hidden="true"></i></button>
            </td>
        </tr>
    </tbody>
</table>
<div class="btn" style= "margin-left: -20px; margin-top: 25px; float:left">
    <button class="icon-btn add-btn" (click)="addPublisher()">
      <div class="add-icon"></div>
      <div class="btn-txt">Add Publisher</div>
  </button>
  </div>