<link href="https://fonts.googleapis.com/css2?family=Amita&family=Gentium+Book+Plus&family=Goudy+Bookletter+1911&family=Poiret+One&display=swap" rel="stylesheet">

<br><br>
<h1>Add Book</h1>
<div class="form">

<br><br>
    <form [formGroup]="bookForms" (ngSubmit)="saveBook()">
        <div class="form-row">
        <div class="col-7">
            <label for="title" class="col-form-label">Title :</label>
            <input type="text" id="title" formControlName="title" class="form-control" placeholder="Title">
                
        </div>
        <div class="col">
            <label for="author" class="col-form-label">Author :</label>
            <input type="text" id="author" class="form-control" placeholder="Author" formControlName="author" />
        </div>
        <div class="col">
            <label for="isbn" class="col-form-label">ISBN :</label>
            <input type="text" id="isbn" class="form-control" placeholder="ISBN" formControlName="isbn" />
        </div>
        <div>
            <label for="publicationdate" class="col-form-label">Publication Date:</label>
            <input type="date" id="publicationdate" class="form-control" placeholder="Publication Date" formControlName="publicationdate" />
        </div>
        <div>
            <label for="publisher" class="col-form-label">Publisher :</label>
            <input type="text" id="publisher" class="form-control" placeholder="Publisher" formControlName="publisher" />
        </div>
        <div>
            <label for="copies" class="col-form-label">No. of Copies :</label>
            <input type="number" id="copies" class="form-control" placeholder="Copies" formControlName="copies" />
        </div>
        <div>
            <label for="category" class="col-form-label">Category :</label>
            <input type="text" id="category" class="form-control" placeholder="Category" formControlName="category" />
        </div>
        <div>
            <label for="genre" class="col-form-label">Genre :</label>
            <input type="text" id="genre" class="form-control" placeholder="Genre" formControlName="genre" />
        </div>
        <div>
            <label for="subgenre" class="col-form-label">Subgenre :</label>
            <input type="text" id="subgenre" class="form-control" placeholder="Subgenre" formControlName="subgenre" />
        </div>
        </div>
        <br><br><br><br><br>
        <div class="stage">
            <button class="btn">Save Book</button>
          </div>
          
    </form>
</div>
