<link href="https://fonts.googleapis.com/css2?family=Amita&family=Gentium+Book+Plus&family=Goudy+Bookletter+1911&family=Poiret+One&display=swap" rel="stylesheet">

<br><br>    <h1>Add Loan</h1>

<div class="form">

    <br><br>

    <form [formGroup]="loanForms" (ngSubmit)="saveLoan()">
        <div class="form-row">
        <div>
            <label for="bookId" class="col-form-label">Book Id :</label>
            <input type="number" id="bookId" formControlName="bookId" class="form-control" placeholder="Book Id">
        </div>
        <div>
            <label for="studentId" class="col-form-label">Student Id :</label>
            <input type="number" id="studentId" formControlName="studentId" class="form-control" placeholder="Student Id">
        </div>
        <div>
            <label for="checkoutDate" class="col-form-label">Checkout Date :</label>
            <input type="date" id="checkoutDate" formControlName="checkoutDate" class="form-control" placeholder="Checkout Date">
        </div>
        <div>
            <label for="dueDate" class="col-form-label">Due Date :</label>
            <input type="date" id="dueDate" formControlName="dueDate" class="form-control" placeholder="Due Date">
        </div>
        <div>
            <label for="returnDate" class="col-form-label">Return Date :</label>
            <input type="date" id="returnDate" formControlName="returnDate" class="form-control" placeholder="Return Date">
        </div>
    </div>
    <br><br><br><br><br>
    <div class="stage">
        <button class="btn">Save Loan</button>
      </div>
    </form>
</div>
